<div class="big__card__container">
  <div class="big-card__photo">
    <img
      src="https://www.svgrepo.com/download/508699/landscape-placeholder.svg"
      alt="big card photo"
      height="200px"
    />
  </div>

  <div class="big-card__title">
    <h1>Título</h1>
  </div>

  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt
      est vel justo consectetur, at facilisis enim tempor. Morbi vitae augue at
      nibh lobortis feugiat. Aliquam ullamcorper tortor a viverra tempus.
      Maecenas metus mauris, iaculis eu semper et, posuere ut tortor. Maecenas
      euismod fringilla semper. In aliquet odio mattis arcu fringilla eleifend.
      Pellentesque commodo ante et risus bibendum, vel lobortis ligula
      malesuada.
    </p>
  </div>
</div>
